<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1061@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1892},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1062@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1063@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1064@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1065@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1066@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1067@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,912},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1068@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,912},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1069@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,912},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1070@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,912},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1071@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,912},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1072@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1073@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,782},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1074@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,782},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1075@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,782},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1076@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,782},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1077@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,782},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1078@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1079@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,652},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1080@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,652},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1081@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,652},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1082@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,652},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1083@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,652},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1084@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1085@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,522},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1086@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,522},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1087@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,522},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1088@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,522},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1089@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,522},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1090@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1091@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,392},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1092@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,392},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1093@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,392},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1094@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,392},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1095@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,392},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1096@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1097@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,262},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1098@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,262},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1099@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,262},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_10@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1100@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,262},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1101@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,262},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1102@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1103@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,132},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1104@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,132},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1105@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,132},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1106@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,132},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1107@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,132},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1108@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1109@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1110@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1111@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1112@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1113@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>card_1114@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512286613f226000a9e84f3f0272834a$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
