<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FantasyArcher_03_idle_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,846},{288,332}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,123},{288,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,558},{286,334}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,120},{286,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,286},{284,336}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,118},{284,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{282,338}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{282,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,340}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,115},{278,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,280},{276,338}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,116},{276,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{274,338}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,116},{274,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{276,338}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,117},{276,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{278,336}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,119},{278,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,572},{280,334}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,121},{280,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{282,332}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,123},{282,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,854},{286,332}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,123},{286,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{288,332}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,123},{288,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1142},{288,330}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{288,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_idle_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1136},{288,330}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{288,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2archerIdle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084a7ddc0b205b61ba76ccfa0fc9c586$</string>
            <key>textureFileName</key>
            <string>2archerIdle.png</string>
        </dict>
    </dict>
</plist>
