<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FantasyArcher_03_Jump_0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{288,332}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,122},{288,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,510},{282,322}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,132},{282,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,668},{258,318}}</string>
                <key>offset</key>
                <string>{20,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,137},{258,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,794},{240,308}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,146},{240,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,928},{248,304}}</string>
                <key>offset</key>
                <string>{40,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,150},{248,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{250,344}}</string>
                <key>offset</key>
                <string>{28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,109},{250,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{256,354}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,41},{256,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,260},{248,352}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,37},{248,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,366}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,68},{258,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{236,322}}</string>
                <key>offset</key>
                <string>{23,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,132},{236,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{238,308}}</string>
                <key>offset</key>
                <string>{35,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,147},{238,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{262,318}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,137},{262,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Jump_0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,336},{286,330}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,125},{286,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2archerJump.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be33f6b4811477aef4cdace5ff84edf7$</string>
            <key>textureFileName</key>
            <string>2archerJump.png</string>
        </dict>
    </dict>
</plist>
