<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FantasyArcher_03_Hit_0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{288,332}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,122},{288,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Hit_0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{304,344}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,110},{304,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Hit_0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,346}}</string>
                <key>offset</key>
                <string>{-63,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,109},{256,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Hit_0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{284,344}}</string>
                <key>offset</key>
                <string>{-39,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,111},{284,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_03_Hit_0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,348},{238,330}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,125},{238,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2archerHit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f85c2ab6232a6a7e97e26a4030c9cab$</string>
            <key>textureFileName</key>
            <string>2archerHit.png</string>
        </dict>
    </dict>
</plist>
