<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FantasyArcher_02_Attack1_0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,312},{286,310}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,145},{286,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{256,310}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,145},{256,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1166},{208,310}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,144},{208,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{232,312}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,143},{232,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,624},{238,316}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,138},{238,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,324},{234,318}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{234,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,560},{220,318}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{220,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,320}}</string>
                <key>offset</key>
                <string>{40,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,135},{402,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{324,320}}</string>
                <key>offset</key>
                <string>{-39,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,134},{324,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{314,318}}</string>
                <key>offset</key>
                <string>{-36,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,136},{314,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{310,316}}</string>
                <key>offset</key>
                <string>{-31,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,139},{310,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,864},{300,310}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,144},{300,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,782},{292,312}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,143},{292,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1076},{294,310}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,145},{294,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Attack1_0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{290,308}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,146},{290,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>archerattack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3251b9f29aa5e819bf2fe2e8475f8c4$</string>
            <key>textureFileName</key>
            <string>archerattack.png</string>
        </dict>
    </dict>
</plist>
