<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FantasyArcher_02_Death_0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{298,308}}</string>
                <key>offset</key>
                <string>{-13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,147},{298,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{316,310}}</string>
                <key>offset</key>
                <string>{-54,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,145},{316,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,120},{308,308}}</string>
                <key>offset</key>
                <string>{-63,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,146},{308,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,314},{290,306}}</string>
                <key>offset</key>
                <string>{-55,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,149},{290,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,430},{278,304}}</string>
                <key>offset</key>
                <string>{-38,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,151},{278,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,606},{270,302}}</string>
                <key>offset</key>
                <string>{-29,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,153},{270,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{244,304}}</string>
                <key>offset</key>
                <string>{-19,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,151},{244,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,710},{218,296}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,159},{218,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,878},{204,290}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,165},{204,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{244,268}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,187},{244,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,930},{274,232}}</string>
                <key>offset</key>
                <string>{26,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,223},{274,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{292,206}}</string>
                <key>offset</key>
                <string>{45,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,249},{292,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,112}}</string>
                <key>offset</key>
                <string>{59,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,343},{324,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{322,110}}</string>
                <key>offset</key>
                <string>{59,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,345},{322,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_Death_0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,116}}</string>
                <key>offset</key>
                <string>{59,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,339},{322,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>archerDeath.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cbd1624823cb8d10b1dc7cbac7e125d$</string>
            <key>textureFileName</key>
            <string>archerDeath.png</string>
        </dict>
    </dict>
</plist>
