<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FantasyArcher_02_idle_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,852},{286,310}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,145},{286,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1140},{284,308}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,146},{284,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1116},{282,310}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,144},{282,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,834},{280,312}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,142},{280,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{278,316}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,139},{278,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,286},{276,316}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,138},{276,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,558},{274,316}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,138},{274,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{274,318}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,137},{274,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,318}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,137},{276,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,278},{278,316}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,139},{278,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{282,316}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,139},{282,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{284,314}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,141},{284,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,564},{286,312}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,143},{286,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{286,310}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,144},{286,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>FantasyArcher_02_idle_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{286,308}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,146},{286,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>archerIdle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dadea35a4a8b056034099312efcac549$</string>
            <key>textureFileName</key>
            <string>archerIdle.png</string>
        </dict>
    </dict>
</plist>
